<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOUR CLOUD</title>
  </head>
  <body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" class="fileUpload" />
      <button type="submit" class="submit">Upload</button>
    </form>
    <script>
       
    </script>
  </body>
</html>
